@font-face {
  font-family: Antiqua;
  font-style: normal;
  font-weight: 400;
  src: url("../Polices/Chantelli_Antiqua.ttf") format("truetype");
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  font-family: Antiqua;
}
a {
  color: #fff;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
i {
  font-size: 2em;
}
li {
  list-style: none;
}
@keyframes RotateLoader {
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes appearBlock {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  background-color: rgba($color: #ffffff, $alpha: 0.75);
  p {
    position: absolute;
    bottom: 25%;
  }
  .loadSpin {
    width: 150px;
    height: 150px;
    background: #000000;
    background: -webkit-linear-gradient(to bottom, white, #000000);
    background: linear-gradient(to bottom, white, #000000);
    border-radius: 100%;
    animation-name: RotateLoader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    .loadSpinCenter {
      width: 120px;
      border-radius: 100%;
      height: 120px;
      background-color: rgb(255, 255, 255);
    }
  }
}
#header {
  background: linear-gradient(
    to left,
    rgba($color: #000000, $alpha: 0.98),
    rgba($color: #434343, $alpha: 0.98)
  );
  color: #fff;
  left: 0;
  width: 250px;
  height: 100%;
  display: block;
  position: fixed;
  overflow-y: auto;
  .top {
    .logo {
      border-radius: 5%;
      background-color: rgba($color: #fff, $alpha: 0.05);
      box-shadow: 0 0 10px 1px white;
    }
    nav {
      li {
        font-size: 1.1em;
        border-radius: 0.2em;
        background-color: rgba($color: #fff, $alpha: 0.1);

        :hover {
          box-shadow: 0px 0px 10px 1px white;
        }
        a {
          display: block;
          border-radius: 0.2em;
          transition: 600ms;
        }
      }
    }
  }
  #Links {
    border-top: 2px solid rgb(236, 236, 236);
    padding-top: 50px;
    div {
      width: 100%;
      border-radius: 0.5em;
      background-color: rgba($color: #fff, $alpha: 0.1);
      ul {
        a {
          transition: 0.5s;
          :hover {
            div {
              box-shadow: 0px 0px 10px 1px white;
            }
          }
        }
        .linkedin {
          &:hover {
            color: #0e76a8;
          }
        }
        .github {
          &:hover {
            color: #171515;
          }
        }
        .mail {
          &:hover {
            color: #bb001b;
          }
        }
      }
    }
  }
}
main {
  margin-left: 250px;
  width: 100%;

  .backgroundimage {
    background: url("../Images/Space.webp");
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .block-title-section {
      background-color: rgba($color: #000000, $alpha: 0.75);
      display: inline;
      width: 250px;
      margin: auto;
      border-radius: 1em;
    }
    .block-separate {
      width: 80%;
      margin: auto;
      box-shadow: 0px 0px 3px 1.5px rgb(200, 200, 200);
      background-color: rgba($color: #000000, $alpha: 0.33);
    }
    .background {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0.5em;
      transition: 1s;
      box-shadow: 0px 0px 10px 1px white;

      div {
        opacity: 0.75;
      }
    }
  }
  #Certification {
    .block-certification-list {
      margin: 0;
      .block-certification {
        width: 450px;
        height: 220px;

        border-radius: 0.5em;
        box-shadow: 0px 0px 3px 0.5px white;
        .background {
          background-position: left;
        }
        .background-NodeJs {
          background-image: url("../Images/Passez\ au\ Full\ stack\ avec\ Node.js\,\ Express\ et\ MongoDB_page-0001.jpg");
        }
        .background-Bootsrap {
          background-image: url("../Images/Créez\ des\ sites\ web\ responsive\ avec\ Bootstrap\ 4.jpg");
        }
        .background-WrittingJavascript {
          background-image: url("../Images/Écrivez\ du\ JavaScript\ pour\ le\ web.jpg");
        }
        .background-CssAnimation {
          background-image: url("../Images/Créez\ des\ animations\ CSS\ modernes.jpg");
        }
        .background-SQL {
          background-image: url("../Images/SQL_certificate.jpg");
        }
        .background-React {
          background-image: url("../Images/react_certificate.jpg");
        }
        .background-Javascript {
          background-image: url("../Images/javascript_certificate.jpg");
        }
        .background-Jquery {
          background-image: url("../Images/jQuery_certificate.jpg");
        }
      }
    }
  }
  #Introduction {
    .block-content-intro {
      width: 90%;
      border-radius: 1em;
      margin: auto;
      background-color: rgba($color: #000000, $alpha: 0.75);
    }
  }
  #Passion {
    .passion-container {
      margin: 0 auto;
      position: relative;
      .passionList {
        .passion-block {
          width: 100%;
          max-width: 1100px;
          height: 350px;
          display: none;
          box-shadow: 0px 0px 5px 0.5px rgb(43, 42, 42);
          border-radius: 0.5em;
          .background-GameOfThrone {
            background-image: url("../Images/GameOfThrone.webp");
          }
          .background-LordOfTheRings {
            background-image: url("../Images/LordOfTheRings.webp");
          }
          .background-Pokemon {
            background-image: url("../Images/Pokemon.webp");
          }
          .background-SoloLeveling {
            background-image: url("../Images/soloLeveling.gif");
          }
          .background-DragonBall {
            background-image: url("../Images/DragonBallZ.webp");
          }
        }
        .active-picture {
          display: block;
          animation: appearBlock 2s;
        }
      }
    }
    .btn-slide {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 50%;
      .btn-move {
        font-size: 15px;
        margin: 0 15px;
        cursor: pointer;
        z-index: 2;
        transition: 1s;
        &:hover {
          color: rgb(43, 42, 42);
        }
      }
    }
  }
  #Skills {
    .block-type-skills {
      box-shadow: 0px 0px 10px 0.5px;
      border-radius: 0.5em;
      width: 300px;
      overflow: hidden;
      background-color: white;
      box-shadow: 0px 0px 10px 1px gray;
    }
  }
  #Projets {
    .hover-block {
      overflow: hidden;
      position: relative;
      border-radius: 1em;
      .background {
        transition: 1.5s ease-in-out;
        a {
          background-color: rgba(43, 42, 42, 0.5);
          transition: 1s ease-in-out;
          border-radius: 0.5em;
          width: 400px;

          &:hover {
            color: white;
            background-color: rgba(43, 42, 42, 0.75);
          }
        }
        &:hover {
          -ms-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
    .projects-block {
      width: 550px;
      height: 300px;
      box-shadow: 0px 0px 10px 1px white;
      .background-Groupomania {
        background-image: url("../Images/Groupomania.webp");
      }
      .background-Orinoco {
        background-image: url("../Images/Orinoco.webp");
        background-position: left;
      }
      .background-Reservia {
        background-image: url("../Images/Reservia.webp");
        background-position: left;
      }
      .background-OhMyFood {
        background-image: url("../Images/OhMyFood.webp");
      }
      .background-SoPeckoko {
        background-image: url("../Images/SoPeckoko.webp");
      }
    }
    ::after {
      display: block;
      box-shadow: 0px 0px 100px 1px white;
    }
  }
}
footer {
  background-color: rgba($color: #000000, $alpha: 0.75);
  .myCV {
    background-color: white;
    color: rgb(43, 42, 42);
    opacity: 0.75;
    transition: 1s;
    &:hover {
      background: rgb(43, 42, 42);
      box-shadow: 0px 0px 10px 1px white;
      color: rgb(245, 245, 245);
    }
  }
}
@media only screen and (max-width: 767.5px) {
  #header {
    margin-left: -350px;
    transition: margin-left 1s ease-out;
    z-index: 5;
  }
  #divToggler {
    display: block;
    position: fixed;
    z-index: 6;
    margin: 0.75em;
    border-radius: 0.25em;
    background-color: rgba($color: rgb(190, 190, 190), $alpha: 0.8);
    transition: 1s;
  }
  main {
    margin: 0;
  }
}
@media only screen and (min-width: 767.5px) {
  header {
    margin-left: 0px !important;
  }
  main {
    .backgroundimage {
      height: 100%;
    }
  }
}
